<div class="text-center py-5">
  <h1 class="display-4 fw-bold">AniLog</h1>

  <p class="lead mt-3">
    アニメ作品の感想や評価を記録・共有できる、アニメ特化型レビューSNSサイトです。
  </p>

  <div class="mt-4">
    <%= link_to "Aboutを見る", about_path, class: "btn btn-primary" %>
  </div>
</div>